.DS_Store
archive
archive2
trialCode
mockData
notebooks/.Rhistory

notebooks/tmp_output/test_dashboard.json
msfeast/__pycache__
.Rhistory
.Rapp.history

notebooks/test_output
notebooks/__pycache__
notebooks/tmp_output/test_dashboard.json
notebooks/tmp_outputs
notebooks/2024-03-12-typedDict.ipynb
notebooks/2024-02-19 testing alternative clustering.ipynb


build
msfeast.egg-info