.visjsNetworkContainer {
  width: 100%;
  height: 70vh;
  border: 1px solid lightgray;
}

.plotlyGraphContainer {
  width: 100%;
  height: 60vh;
  border: 5px black;
  align-content: center;
  overflow: auto; /*must have for plotly resizing to work in bootstrap tabs!*/
}

.nodeInfoText {
  font-family: Helvetica;
  font-size: 1rem;
  color: rgb(235,16,162, 0.7);;
}

.heatmapPanel {
  width: 100%;
  height: 15vh;
  border: 5px black;
  align-content: center;
  overflow: auto; /*must have for plotly resizing to work in bootstrap tabs!*/
}

.colorBarPanel {
  width: 80%;
  height: 10vh;
  border: 5px black;
  align-content: center;
  overflow: auto; /*must have for plotly resizing to work in bootstrap tabs!*/
}

.customWarningStyle {
  color: rgb(235,16,162, 0.8);
}

.navbar {
  background-color: rgba(241, 241, 241, 0.96);
}

.navbar-brand {
  font-family: 'Helvetica';
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgb(235,16,162, 0.7);
}


.nav-link {
  color: black;
  background-color: rgba(128, 128, 128, 0.4);
  
}


body {
  font-size: 10px; 
  font-family: 'Helvetica';
}

html {
  font-size: 70%;
}
body {
  font-size: 1rem;
}
header {
  font-size: 2rem;
}

.vis-tooltip {
  font-family: 'Helvetica' !important;
  color: #000000  !important; /* Change the font color */
  background-color: rgb(234, 234, 234) !important; /* Change the background color */
  border: 1px solid #808074  !important; /* Change the border */
  border-radius: 3px  !important; /* Add rounded corners */
  padding: 5px  !important; /* Add some padding */
}

.logo-image{
  width: 45px;
  height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}